# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 1e28b616293f9f55ce4b351ad959a1b50d685636ace7ca048416b37bc98f94d94f39b017d093253008cf943e44d20abd53b0856355a59fcd53a2f2db600fcad1

test:
  secret_key_base: 7ffcee868eb279b0261a9cf84cb5113963dd5a96f870f083aa4ce636c8b027fb8a6f114f5e38f0aa52fc99d7c550f3560018f1db426897ce06fae0c325e49289

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
